<h3>Cart</h3>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <mat-list>
                <div class="row">
                    <div class="col-sm-4"><h3 matSubheader>Product</h3></div>
                    <div class="col-sm-2"><h3 matSubheader>Price</h3></div>
                    <div class="col-sm-2"><h3 matSubheader>Quantity</h3></div>
                    <div class="col-sm-2"><h3 matSubheader>SubTotal</h3></div>
                </div>
                <mat-divider></mat-divider>
                <mat-list-item *ngFor="let item of items" style="height: auto;">
                   <!-- <mat-icon matListIcon>folder</mat-icon> -->
                   <div class="col-sm-4" (click)="onSelect('assets/images/' + item.product.photo)">
                       <a href="#">
                           <img src="assets/images/{{item.product.photo}}" style = "width:auto; height:60px">       
                           <h4 matLine>{{item.product.name}}</h4>
                       </a>
                   </div>
                   <div class="col-sm-2">
                        <p matLine class="demo-2"> {{item.product.price  | currency:'USD'}} </p>
                   </div>
                   <div class="col-sm-2">
                        <p matLine class="demo-2"> {{ item.quantity}} </p>
                   </div>
                   <div class="col-sm-2">
                       <p matLine class="demo-2"> {{ (item.product.price + item.product.tax) * item.quantity | currency:'USD' }} </p>
                   </div>
                   <div class="col-sm-2">
                       <button mat-raised-button color="warn" (click)="remove(item.product.id)">Remove from cart</button>
                   </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-sm-8" align="right">Tax</div>
                    <div class="col-sm-4">{{ tax  | currency:'USD'}}</div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-sm-8" align="right">Total</div>
                    <div class="col-sm-4">{{ total  | currency:'USD'}}</div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-sm-9" align="right">
                         &nbsp;
                   </div>
                </div>
                 <div class="row">
                    <div class="col-sm-9" align="right">
                        <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
                    </div>
                </div>
                <mat-divider></mat-divider>
             </mat-list>
        </div>    
    </div>
</div>